@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  margin-left: 10%;
}

.border {
  border: 1px solid black;
  border-bottom: 25px solid #93a1a4;
  border-radius: 5px 5px 0px 0px;
}
.text-wrap {
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
}

h1 {
  font-weight: 700;
  width: 40%;
}
.price-red {
  text-decoration: line-through;
}

.discount {
  color: red;
  font-weight: 700;
  text-decoration: underline;
}

.arrow {
  margin-left: 50%;
}

/* HEADER */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: #eeefe9;
  padding: 10px 40px;
}

.logo {
  font-size: 28px;
  font-weight: 900;
}

ul {
  display: flex;
  gap: 69px;
}

li {
  font-size: 16px;
  font-weight: 500;
}

.cart-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;

  background: #eeefe9;
  padding: 10px 40px;
  border-top: 1px solid black;
}

footer > ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;

  grid-column: 1/2;
  grid-row: 1/2;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-column: span 4;
  grid-row: 2/3;
}

.footer-bottom > div {
  display: flex;
  gap: 20px;

  font-size: 13px;
  font-weight: 500;
  color: #93a1a4;
  text-decoration: underline;
}

.copyright {
  font-size: 13px;
  color: #93a1a4;
}

/* HOME */

.home-main {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

.home-color {
  background: linear-gradient(#93a1a4 30%, #eeefe9 70%);
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.home-color > * {
  grid-area: 1 / 1;
}

.home-color > div > h2 {
  font-size: 32px;
  font-weight: 700;
  padding: 40px 40px 0px;
}
.home-color > div > h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 0px 40px;

  margin-bottom: 400px;
}

.home-color h2,
.home-color h3 {
  z-index: 2;
}

.Home-img {
  place-self: center;
  z-index: 1;
}

.shop-button {
  background: black;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;

  grid-row: 3;
  justify-self: start;
  margin-left: 80px;

  margin-bottom: 70px;
  margin-top: -100px;
  z-index: 2;
}
.shop-button:hover {
  background: #2c2c2c;
  color: #ffffff;
}

.home-beige {
  background: #eeefe9;
  display: grid;
  place-items: center;
}

.home-beige > div {
  display: grid;
  place-items: center;
}

.home-beige > div > * {
  grid-area: 1 / 1;
}

.home-beige > div > h1 {
  font-size: 60px;
  font-weight: 900;

  display: grid;
  place-content: center;
  z-index: 2;
}

.home-beige > div > img,
.home-beige > div > svg {
  z-index: 1;
}

/* PAYMENT */

.payment-main {
  padding: 0px 40px;
}

.payment-main > div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* gap: 20px; */
}

.payment-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.product-info {
  display: flex;
}

.details {
  display: flex;
  gap: 50px;
}

.payment-links {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
}

.add {
  background: black;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;

  max-width: 300px;
}
.add:hover {
  background: #2c2c2c;
  color: #ffffff;
}

.remove {
  cursor: pointer;
}
